@import "tailwindcss";

@theme {
  --color-hg-black: #0d1c2e;
  --color-hg-aqua: #2a8bf2;
  --color-hg-red: #ff3366;
  --color-hg-gray: #707c97;
  --color-hg-lightgray: #e6ecfe;
  --color-hg-white: #fafbff;
}

@custom-variant dark (&:where(.dark, .dark *));

button {
  cursor: pointer;
}

body {
  background: var(--color-hg-lightgray);
}
