@import "tailwindcss";

@theme {
  --color-sg-black: #0d1c2e;
  --color-sg-darkblue: #082141;
  --color-sg-aqua: #2a8bf2;
  --color-sg-red: #ff3366;
  --color-sg-gray: #707c97;
  --color-sg-lightgray: #e6ecfe;
  --color-sg-white: #fafbff;
}

@custom-variant dark (&:where(.dark, .dark *));

button {
  cursor: pointer;
}

html {
  background: var(--color-sg-lightgray);

  &.dark {
    background: var(--color-sg-darkblue);
  }
}
